{% extends "mainapp/base.html" %}
{% load static %}

{% block css_sheet %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">{% endblock %}

{% block title_sheet %}О редакции{% endblock %}

{% block content %}

<main class="about">
    <div class="wrapper">
        <div class="about-title">
            <h2>О редакции</h2>
        </div>
        <div class="about-info">
            <p class="about-info-item">Студенческий научный электронный журнал «Бизнес-трансформация: управление улучшениями» – это периодическое сетевое научное издание Югорского государственного университета (г. Ханты-Мансийск), в котором публикуются оригинальные студенческие статьи и тезисы конференций исследовательского и прикладного характера, содержащие результаты научных исследований автора (соавторов), ранее нигде не опубликованные.
            </p>
            <p class="about-info-item">Электронный формат журнала обеспечивает широкую доступность издания, неизменно высокое качество иллюстративного материала.</p>
            <p class="about-info-item">Журнал «Бизнес-трансформация: управление улучшениями» включен в базу РИНЦ (Российский индекс научного цитирования, www.elibrary.ru).</p>
            <p class="about-info-item">Учредитель: Федеральное государственное бюджетное образовательное учреждение высшего образования «Югорский государственный университет»</p>
            <p class="about-info-item">Главный редактор: Грошева Т.А.</p>
            <p class="about-info-item">Редакционная коллегия:</p>
            <div class="about-table">
                <table>
                    <tbody>
                        <tr>
                            <th>
                                №
                            </th>
                            <th>
                                Редколлегия
                            </th>
                            <th>
                                ФИО
                            </th>
                        </tr>
                        <tr>
                            <td rowspan="3">
                                1
                            </td>
                            <td rowspan="3">
                                UGRA GREEN SCHOOL
                            </td>
                            <td>
                                Заров Евгений Андреевич
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Каверин Александр Александрович
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Сабреков Александр Фаритович
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="3">
                                2
                            </td>
                            <td rowspan="3">
                                Smart Lean Group
                            </td>
                            <td>
                                Аладко Олеся Ивановна
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Астапенко Елена Олеговна
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Коцюрко Елена Петровна
                            </td>
                        </tr>
                        <tr>
                            <td  rowspan="3">
                                3
                            </td>
                            <td  rowspan="3">
                                Наука в спорте
                            </td>
                            <td>
                                Черницына Наталья Валерьевна
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Стогов Максим Валерьевич
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Грязных Андрей Витальевич
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="3">
                                4
                            </td>
                            <td rowspan="3">
                                Языкознание и журналистика
                            </td>
                            <td>
                                Филимонова Наталья Владимировна
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Челак Елена Анатольевна
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Абилькенова Валерия Анатольевна 
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="3">
                                5
                            </td>
                            <td rowspan="3">
                                Психология и педагогика
                            </td>
                            <td>
                                Заикин Александр Васильевич
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Лукьянец Ольга Валериевна
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Вартанян Арам Саркисович
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="3">
                                6
                            </td>
                            <td rowspan="3">
                                Энергетик
                            </td>
                            <td>
                                Осипов Дмитрий Сергеевич
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Шепелев Александр Олегович
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Долингер Станислав Юрьевич
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="3">
                                7
                            </td>
                            <td rowspan="3">
                                Юридический институт
                            </td>
                            <td>
                                Попов Владимир Иванович
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Федулова Игоря Николаевича
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Розенко Станислава Васильевича
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="3">
                                8
                            </td>
                            <td rowspan="3">
                                Устойчивое развитие территорий Севера и Арктики
                            </td>
                            <td>
                                Слободян Малика Лутаевна
                            </td>
                        </tr>
                        <!-- <tr>
                            <td>
                                 
                            </td>
                        </tr> -->
                        <!-- <tr>
                            <td>
                                Слободян Малика Лутаевна
                            </td>
                        </tr> -->
                        <tr>
                            <td>
                                Пронькина Татьяна Васильевна
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Богомолова Любовь Леонидовна
                            </td>
                        </tr>
                        <!-- <tr>
                            <td>
                                 
                            </td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
            <p class="about-info-item">Редакционная коллегия журнала «Бизнес-трансформация: управление улучшениями» поддерживает политику, направленную на соблюдение всех принципов издательской этики. Этические правила и нормы соответствуют принятым ведущими научными издательствами.</p>
            <p class="about-info-item">В журнале публикуются научные статьи студентов обучающихся по программам бакалавриата, специалитета, магистратуры и аспирантов. Все поступившие материалы проходят обязательную процедуру рецензирования.</p>
            <p class="about-info-item issn-number">Сетевое издание зарегистрировано в Федеральной службе по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор), регистрационный <br>
                номер ___________от ___ 2022 г. <br>
                ISSN _______________________
                </p>
        </div>
    </div>
</main>

{% endblock %}