{% extends "mainapp/base.html" %}
{% load static %}

{% block css_sheet %}<link rel="stylesheet" href="{% static 'css/articles.css' %}">{% endblock %}

{% block title_sheet %}Статьи{% endblock %}

{% block content %}
<main class="articles-main">
    <div class="wrapper">
        <div class="main-wrapper">
            <div class="article-main-blog">
                {% for article in articles %}
                <a href="/article/{{article.id}}">
                    <section class="articles-menu">
                        <div class="article-container">
                            <div class="article-header">
                                <div class="article-background">
                                     <img src="{{ article.image.url }}" width="268" height="200">
                                </div>
                                <div class="article-tags">
                                    <ul>
                                        {% for category in article.categories.all %}
                                            {% if forloop.counter <= 3 %}
                                                <li class="news-tag-item ecology-tag">
                                                    <p>{{ category.title }}</p>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="article-title">
                                {% if article.title|length < 50 %}
                                    <!--style="display: inline-block;"-->
                                    <h2>{{ article.title }}</h2>
                                {% else %}
                                <h2>{{ article.title }}</h2>
                                    <!-- {% for b in article.title %}
                                        {% if forloop.counter <= 15 %}
                                             <h2>{{ b }}</h2>
                                        {% endif %}
                                    {% endfor %} -->
                                    <!-- <h2 style="display: inline-block;">...</h2> -->
                                {% endif %}

                            </div>
                            <div class="article-info">
                                <p class="info-archive">{{ article.date|date:"d M Y" }}</p>
                                <p class="info-archive">•</p>
                                <p class="info-archive">{{ article.author }}</p>
                            </div>
                        </div>
                    </section>
                </a>
                {% endfor %}
            </div>

            <aside class="articles-filter">
                <div class="article-filter">
                    <p>Сортировать статьи</p>
                     <form action="{% url 'articles' %}" method="get">
                        <div class="select-wrapper">
                            <select name="filter" id="filter" onchange="this.form.submit()" >
                                {% if selected_filter == None or selected_filter == "" or selected_filter == "new" %}
                                    <option value="new" selected>Сначала новые</option>
                                    <option value="old">Сначала старые</option>
                                {% else %}
                                    <option value="new">Сначала новые</option>
                                    <option value="old" selected>Сначала старые</option>
                                {% endif %}
                            </select>
                        </div>
                     </form>
                    <div class="article-filter-tags">
                        <p>Рубрики</p>
                        <button class="ecology-filter"><img src="{% static 'img/ok.svg' %}" alt="ok"> Экология</button>
                        <button class="lean-filter"><img src="{% static 'img/ok.svg' %}" alt="ok">Бережливое производство</button>
                        <button class="IT-lean-filter"><img src="{% static 'img/ok.svg' %}" alt="ok">IT Lean</button>
                    </div>
                </div>
            </aside>
        </div>

        <div class="btn-wrapper">
            <div class="btn-block">
                <a class="btn-go-archive" href="/">Показать ещё</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}