{% extends "mainapp/base.html" %}
{% load static %}

{% block css_sheet %}
<link rel="stylesheet" href="{% static 'css/send_article.css' %}">{% endblock %}

{% block title_sheet %}Для авторов{% endblock %}

{% block content %}

<main>
    <div class="wrapper">
        <div class="h2-wrapper">
            <h2 class="title-to-send">Отправьте свою статью в редакцию</h2>
        </div>
        <div class="read-rules">
            <h3>Оформление статьи</h3>
            <p>Перед тем, как отправить файл со статьей, убедитесь в том,<br> 
                что Ваше содержание и оформление статьи соответсвует правилам. </p>
            <p>С правилами для авторов можно ознакомиться <span><a href="media/Требования к статьям.docx" download>здесь.</a></span></p>
        </div>
        <div class="rules-info">
            <p class="about-info-item">Журнал принимает к публикации оригинальные научные статьи, тезисы конференций,
                практические разработки по нескольким научным направлениям СНО ЮГУ:</p>
            <div class="about-table">
                <table>
                    <tbody>
                        <tr>
                            <th>
                                СНО
                            </th>
                            <th>
                                Рубрики журнала
                            </th>
                        </tr>
                        <tr>
                            <td>
                                UGRA GREEN SCHOOL
                            </td>
                            <td>
                                Экология и рациональное использование природных ресурсов
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Smart Lean Group
                            </td>
                            <td>
                                Система непрерывных улучшений
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Наука в спорте
                            </td>
                            <td>
                                Актуальные проблемы оздоровления населения, физического воспитания и спорта
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Языкознание и журналистика
                            </td>
                            <td>
                                Векторы развития гуманитарного знания
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Психология и педагогика
                            </td>
                            <td>
                                Психолого-педагогические и социальные аспекты благополучия в эпоху перемен
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Энергетик
                            </td>
                            <td>
                                Энергоэффективные технологии в ТЭК
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Юридический институт
                            </td>
                            <td>
                                Право нации на самоопределение
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Устойчивое развитие территорий Севера и Арктики
                            </td>
                            <td>
                                Устойчивое развитие в новых экономических условиях
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p class="about-info-item">Журнал издается с ноября 2022 года.</p>
            <p class="about-info-item">Периодичность издания: 4 выпуска в год. Журнал выпускается ежеквартально. Сроки
                приемки материалов:</p>
            <p class="about-info-item list-date">1 квартал – до 25 февраля (выход журнала в марте);<br>
                2 квартал – до 25 мая (выход журнала в июне);<br>
                3 квартал – до 15 сентября (выход журнала в сентябре);<br>
                4 квартал – до 25 ноября (выход журнала в декабре). <br></p>
            <p class="about-info-item">Первый выпуск журнала запланирован на ноябрь 2022 года, сроки подачи статей – до
                25 октября 2022 года.</p>
            <p class="about-info-item">Статьи, присланные позднее указанного срока, будут приняты в следующий номер.</p>
            <p class="about-info-item">Статьи принимаются по электронной почте: <span class="spanemail">snojournal@mail.ru</span></p>
            <p class="about-info-item">Язык журнала: русский.</p>
            <p class="about-info-item">Журнал распространяется бесплатно. Доступен в России и во всех странах мира.</p>
            <p class="about-info-item">Нельзя направлять работы, которые уже напечатаны в других изданиях или отправлены
                для публикации в другие редакции.</p>
        </div>
    </div>
</main>

{% endblock %}